@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}

.checked {
  color: orange;
}

.unchecked {
  color: rgb(216, 188, 151);
}

:root {
  --shopButtonDisplay: "all";
  --fromTop: 0;
  --colorToChange: "#FAFAFA";
  --scaleGreet: 0.9;
  --transformGreet: 0.6px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root::-webkit-scrollbar {
  display: none;
  --transformGreet: 0.65px;
}

@media (min-width: 1024px) {
  :root {
    --scaleGreet: 0.7;
    --transformGreet: 0.7px;
  }
}

.bg-footer-design {
  background-image: url("../public/Group3042773.svg");
}

/* ScrollableDiv.css */
.scrollableDiv {
  width: 300px;
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
}

.content {
  display: flex;
}

.horizontal-content {
  display: flex;
  flex-direction: row;
}

.vertical-content {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

.color-shift {
  color: var(--colorToChange);
}

.video-container {
  opacity: calc(1 - var(--fromTop) / 10);
  transition: all 0.3s ease;
}

.video {
  transition: all 0.3s ease;
  opacity: calc(1 - var(--fromTop) / 100);
}

.stickydiv {
  position: sticky;
  position: -webkit-sticky;
}

.flyouts-left {
  transform: translateX(calc(var(--fromTop) * -1px));
  transition: all 0.3s ease;
  opacity: calc(1 - var(--fromTop) / 10);
  user-select: var(--shopButtonDisplay);
}

.flyouts-right {
  transform: translateX(calc(var(--fromTop) / 2 * 1px));
  transition: all 0.3s ease;
  opacity: calc(1 - var(--fromTop) / 10);
  pointer-events: var(--shopButtonDisplay);
}

.flyouts-down {
  transform: translateY(calc(var(--fromTop) * var(--transformGreet)));
  transition: all 0.3s ease;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
