@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --fromTop: 0;
}

.bg-footer-design {
  background-image: url("../public/Group3042773.svg");
}

/* ScrollableDiv.css */
.scrollableDiv {
  width: 300px;
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
}

.content {
  display: flex;
}

.horizontal-content {
  display: flex;
  flex-direction: row;
}

.vertical-content {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

.video-container {
  height: calc(500px - ((var(--fromTop) / 200) * 500px));
  min-width: 200px;
  transition: all 0.3s ease;
}

.video {
  transition: all 0.3s ease;
  opacity: calc(1 - var(--fromTop) / 200);
}

.stickydiv {
  position: sticky;
  position: -webkit-sticky;
}

.prodcard {
  width: 350px;
  height: 500px;
}

.reviewcard {
  height: 150px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
