@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  background-color: #fafafa !important;
}

.checked {
  color: orange;
}

.unchecked {
  color: rgb(216, 188, 151);
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root::-webkit-scrollbar {
  display: none;
  --transformGreet: 0.65px;
}

/* .bg-footer-design {
  background-image: url("../public/Group3042773.svg");
} */

/* ScrollableDiv.css */
.scrollableDiv {
  width: 300px;
  height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
}

.content {
  display: flex;
}

.horizontal-content {
  display: flex;
  flex-direction: row;
}

.vertical-content {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

.stickydiv {
  position: sticky;
  position: -webkit-sticky;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.3s;
  fill: #666;
}

.container input:checked ~ svg {
  fill: #e3474f;
}

.no-outline:focus {
  outline: none !important;
  box-shadow: none;
}

.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.text-animation {
  animation: moveUp 0.5s ease-out forwards;
}
